<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AirlineMapper">

	<!-- 공항정보 저장 -->
	<insert id='insertAirline'>
		INSERT INTO airline_tb(airlineId, airlineNm)
		VALUES (#{airlineId}, #{airlineNm})
	</insert>
	
	<!-- 공항정보 조회 -->
	<select id="selectAirline" resultType="com.example.demo.vo.AirlineVO">
		SELECT * 
		  FROM airline_tb
		 WHERE airline_id = #{airlineId} and airlineNm = #{airlineNm}
	</select>

	<!-- 공항정보 수정 -->
	<update id="updateAirline">
		UPDATE airline_tb
		   SET airline_id = #{airlineId}, airlineNm = #{airlineNm}
	</update>

	<!-- 공항정보 삭제 -->
	<delete id='deleteAirline'>
		DELETE from airline_tb
		 WHERE airline_id = #{airlineId}
	</delete>

</mapper>