<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AirportMapper">

	<!-- 비행정보 저장 -->
	<insert id='insertAirport'>
		INSERT INTO airport_tb(airport_id, airport_nm)
		VALUES (#{airportId}, #{airportNm})
	</insert>

	<!-- 비행정보 조회 -->
	<select id="selectAirport" resultType="com.example.demo.airport.AirportVO">
		SELECT *
		  FROM airport_tb
		 WHERE airport_id = #{airportId} and airport_nm = #{airportNm}
	</select>

	<!-- 비행정보 수정 -->
	<update id="updateAirport">
		UPDATE airport_tb
		   SET airport_id = #{airportId}, airport_nm= #{airportNm}
	</update>

	<!-- 비행정보 삭제 -->
	<delete id='deleteAirport'>
		DELETE from airport_tb
		 WHERE airport_id = #{airportId}
	</delete>

</mapper>