<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

	<!-- 회원가입처리 -->
	<insert id='join'>
		insert ignore into member(id, pw)
		values (#{id}, #{pw})
	</insert>
	
	<!-- 로그인처리 -->
	<select id='login' resultType='com.example.demo.user.UserVO'>
		select * from member
		where id = #{id}
	</select>
	
	<!-- id에 맞는 encoding된 pw 가져오기 -->
<!-- 	<select id='login_pw' resultType='String'> -->
<!-- 		select pw from member -->
<!-- 		where id = #{id} -->
<!-- 	</select> -->

</mapper>