<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

	<!-- 회원가입처리 -->
	<insert id='join'>
		INSERT IGNORE INTO user_tb(user_id, pw, name, address, email, phone_number)
		VALUES (#{id}, #{pw}, #{name}, #{address}, #{email}, #{phoneNumber})
	</insert>
	
	<!-- 아이디중복체크 -->
	<select id='userId' resultType="String">
		SELECT user_id
		  FROM user_tb
		 WHERE user_id = #{id}
	</select>

	<!-- 비밀번호체크 -->
	<select id='userPw' resultType='String'>
		SELECT pw 
		  FROM user_tb
		 WHERE pw = #{pw}
	</select>
	
	<!-- 사용자정보 조회 -->
	<select id='userInfo' resultType="com.example.demo.vo.UserInfoVO">
		SELECT name, address, email, phone_number
		  FROM user_tb
		 WHERE user_id = #{id}
	</select>
	
	<!-- 로그인처리 -->
	<select id='login' resultType='com.example.demo.vo.UserVO'>
		SELECT * 
		  FROM user_tb
		 WHERE user_id = #{id}
	</select>
	
	<!-- refreshToken 저장 -->
	<insert id='refreshToken'>
		INSERT IGNORE INTO refresh_token(refresh_token_id, user_id, refresh_token, create_date, update_date)
		VALUES (#{refreshTokenId}, #{id}, #{refreshToken}, #{createDate}, #{updateDate})
	</insert>
	
	<!-- refreshToken 맞는지 확인 -->
	<select id='refreshTokenChk' resultType="com.example.demo.vo.TokenVO">
		SELECT * 
		  FROM refresh_token
		 WHERE refresh_token = #{refreshToken}
	</select>
	
	<!-- refreshToken 맞는지 확인 -->
	<select id='refreshTokenIdChk' resultType='String'>
		SELECT *
		  FROM refresh_token
		 WHERE user_id = #{id}
	</select>
	
	<!-- refreshToken 삭제 -->
	<delete id="refreshTokenDelete">
		DELETE FROM refresh_token
		 WHERE user_id = #{id}
	</delete>


</mapper>