<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

	<!-- 회원가입처리 -->
	<insert id='join'>
		insert ignore into user(id, pw)
		values (#{id}, #{pw})
	</insert>
	
	<!-- 아이디중복체크 -->
	<select id='userId' resultType="int">
		select count(*) from user
		where id = #{id}
	</select>
	
	
	<!-- 로그인처리 -->
	<select id='login' resultType='com.example.demo.user.UserVO'>
		select * from user
		where id = #{id}
	</select>
	
	<!-- refreshToken 저장 -->
<!-- 	<insert id='refreshToken'> -->
<!-- 		insert ignore into refresh_token(id, refresh_token) -->
<!-- 		values (#{id}, #{refresh_token}) -->
<!-- 	</insert> -->
	
	<!-- id에 맞는 encoding된 pw 가져오기 -->
<!-- 	<select id='login_pw' resultType='String'> -->
<!-- 		select pw from member -->
<!-- 		where id = #{id} -->
<!-- 	</select> -->

</mapper>